.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  padding: 2px;
  color: #282c34;
}

main {
  padding: 2px;
}

textarea {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 0px;
}
